<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029458190354-tu4nttv7gtk5l6fe488euh9u77ukr34t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029458190354-tu4nttv7gtk5l6fe488euh9u77ukr34t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029458190354-jnq7c2sc9517r5gf87n9hs4iiq34a6qu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNplaYcTAvwrqm51hHIdgxQIC2JVGtTdo</string>
	<key>GCM_SENDER_ID</key>
	<string>1029458190354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ask2movie</string>
	<key>PROJECT_ID</key>
	<string>ask2movie-46970</string>
	<key>STORAGE_BUCKET</key>
	<string>ask2movie-46970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029458190354:ios:d966235dab6fc87c0038cb</string>
</dict>
</plist>